

<div ng-controller="folderController">
    <h2>{{folder.name}}</h2>
    <br />
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="file in folder.files">
                <a href="#" ng-click="downloadFile(file)" target="_blank">{{file.FileName}}</a>
                <span ng-click="emailForm(file)">*Send By Email*</span>
                <span ng-click="showComments(file)"></span>
                <br />              
            </li>
        </ul>
    <br />
    <label ng-click="actionResult = ''">{{actionResult}}</label>
    <br />
    <form ng-if="showEmailForm" ng-submit="sendMail(emailModel.RecipientsEmail)">
        <label>Enter your Email</label>
        <input type="email" ng-model="emailModel.RecipientsEmail" />
        <input class="btn btn-default" type="submit" />
    </form>
    <br />
    <form>
    <div upload-button
         url="/FilesManagment/UploadFile?{{folder.folderId}}"
         on-complete="onComplete(response)" />         
    </form>
    <div ng-if="showOrEditFileComments">
        <ul>
            <li ng-repeat="comment in file"></li>
        </ul>
    </div>
</div>